In [1]:
import numpy as np
import pandas as pd
import sys
import matplotlib as plt
import json
import scipy.stats as stats

In [2]:
#searchdata_file = sys.argv[1]

In [3]:
df=pd.read_json('searches.json', orient='records', keep_default_dates=True, precise_float=False, date_unit=None, encoding=None, lines=True, chunksize=None, compression='infer')

In [4]:
#data_list = np.array(df)

In [5]:
df

          uid  is_instructor  login_count  search_count
0     6061521           True            1             2
1    11986457          False            4             0
2    15995765          False            1             0
3     9106912           True            3             0
4     9882383          False            1             0
..        ...            ...          ...           ...
676  16768212          False            2             0
677   7643715           True            1             0
678  14838641          False            1             0
679   6454817          False            2             0
680   9276990          False            2             3

[681 rows x 4 columns]

In [6]:
odd_uid=df[df['uid']%2!= 0] #Odd Uids
even_uid=df[df['uid']%2==0] #Even Uids

In [7]:
#odd_uid

In [8]:
#even_uid

In [9]:
odd_searched_atleast_once=odd_uid.loc[odd_uid['search_count']>=1]
rows_odd_atleat_once = odd_searched_atleast_once.shape[0] 
#rows_odd_atleat_once

In [10]:
odd_never_searched=odd_uid[odd_uid['search_count']<1]
rows_odd_never = odd_never_searched.shape[0] 
#rows_odd_never
even_searched_atleast_once=even_uid[even_uid['search_count']>=1]
rows_even_atleat_once = even_searched_atleast_once.shape[0] 
even_never_searched=even_uid[even_uid['search_count']<1]
rows_even_never = even_never_searched.shape[0]

In [11]:
#rows_even_atleat_once

In [12]:
#rows_even_never

In [13]:
data_crosstab = [[rows_odd_atleat_once , rows_odd_never],  
                             [rows_even_atleat_once , rows_even_never]]
contingency_table=pd.DataFrame(data_crosstab,index=['odd uid ' ,'even uid'],
                              columns=['Searched atleast once','Searched never'])

#contingency_table

In [14]:
chi, p, dof, ex = stats.chi2_contingency(contingency_table)

In [15]:
ex

array([[106.80176211, 241.19823789],
       [102.19823789, 230.80176211]])

In [16]:
odd_is_instructor=odd_uid[odd_uid['is_instructor']==True] #Instructor Uids
even_is_instructor=even_uid[even_uid['is_instructor']==True]

In [17]:
rows_odd_ins_nonzero_search=odd_is_instructor[odd_is_instructor['search_count']>=1]
rows_odd_ins_zero_search=odd_is_instructor[odd_is_instructor['search_count']<1]
rows_even_ins_nonzero_search=even_is_instructor[even_is_instructor['search_count']>=1]
rows_even_ins_zero_search=even_is_instructor[even_is_instructor['search_count']<1]

In [18]:
num_rows_odd_ins_nonzero_search=rows_odd_ins_nonzero_search.shape[0]
num_rows_odd_ins_zero_search=rows_odd_ins_zero_search.shape[0]
num_rows_even_ins_nonzero_search=rows_even_ins_nonzero_search.shape[0]
num_rows_even_ins_zero_search=rows_even_ins_zero_search.shape[0]

In [22]:
data_crosstab_ins= [num_rows_odd_ins_nonzero_search,num_rows_odd_ins_zero_search],[num_rows_even_ins_nonzero_search,num_rows_even_ins_zero_search]
contingency_table_ins=pd.DataFrame(data_crosstab_ins,index=['odd_Is_instructor ','even_Is_instructor'],
                                   columns=['Searched atleast once','Searched never'])
#contingency_table_ins

In [25]:
chi_ins, p_ins, dof_ins, ins = stats.chi2_contingency(contingency_table_ins)

In [27]:
#p_ins

0.052001632770999166